body {
    font-family: cursive;
    background-color: #f2d1d1;
    color: #a10000;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('fundo_cherry.avif');
    background-size: cover;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    background-color: #a10000;
    color: white;
    padding: 10px;
    font-size: 18px;
}

.click-area {
    margin: 20px 0;
}

#cherryImage {
    width: 150px;
    cursor: pointer;
    transition: transform 0.1s;
}

#cherryImage:active {
    transform: scale(1.1);
}

.upgrades {
    margin-top: 20px;
}

.upgrade {
    background-color: #f2c1c1;
    border: 2px solid #a10000;
    border-radius: 10px;
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.upgrade:hover {
    background-color: #e69a9a;
}
