:root {
  --vermelho: #af0000;
  --verde: #4c876a;
  --rosa: #e3c0bc;
  --rosahover: #e69a9a
}

body {
    font-family: cursive;
    background-color: var(--rosa);  
    color: var(--vermelho);
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('fundo_cherry.avif');
    background-size: cover;
}

.top-bar {
    display: flex;
    justify-content: space-around;
    background-color: var(--vermelho);
    color: white;
    padding: 10px;
    font-size: 18px;
}

.click-area {
    margin: 20px 0;
}

#cherryImage {
    width: 150px;
    cursor: pointer;
    transition: transform 0.1s;
    background-image: url(img/fundo_cherry.avif));
}

#cherryImage:active {
    transform: scale(1.1);
}

.upgrades {
    margin-top: 20px;
}

.upgrade {
    background-color: var(--rosa);
    border: 2px solid var(--vermelho);
    border-radius: 10px;
    margin: 10px auto;
    width: 300px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.upgrade:hover {
    background-color: var(--rosahover);
}
