:root {
  --vermelho: #af0000;
  --verde: #4c876a;
  --rosa: #e3c0bc;
  --rosahover: #e69a9a
}

body {
    font-family: cursive;                   /* Alinha todos os textos ao centro, troca a fonte, 
                                                define a cor de fundo e a cor do texto */
    background-color: var(--rosa);             
    color: var(--vermelho);
    text-align: center;
    margin: 0;
    padding: 0;
}

.top-bar { /* barra superior do jogo, que exibe informações como o número de cerejas, cerejas por clique e upgrades comprados */
    display: flex;                             
    justify-content: space-around;           /* alinha os elementos dentro da barra com espaço igual entre eles */
    background-color: var(--vermelho);      
    color: white;                     
    padding: 25px;                    /* adiciona espaçamento interno na barra */
    font-size: 20px;             
}

.click-area {  /* área onde o usuário clica para ganhar cerejas */
    margin: 20px 0; /* adiciona margem acima e abaixo da área de clique, mas dos lados não */
    padding: 5%; /* adiciona espaçamento interno de 5% */
}

#cherryImage { /* botão que contém a imagem da cereja */
    width: 300px; 
    cursor: pointer; 
    background: none; 
    border: none; 
    padding: 0; /* remove qualquer espaçamento interno da imagem */
}


.click-divisao { /* divisão que organiza a área de clique e as upgrades */
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    padding: 0 6%; /* adiciona espaçamento interno de 6% nas laterais */
    margin-top: 6%; /* adiciona margem acima da div */
}

.compra { 
    font-size: 25px;
}

.upgrades { /* classe para a seção de upgrades */
    background-color: #a10000; 
    padding: 5%; /* adiciona espaçamento interno de 5% */
    display: flex; 
    flex-direction: column; 
    border-radius: 10px; 
    justify-content: center; 
}

.upgrade { /* classe para cada upgrade individual */
    background-color: var(--rosa);  
    border: 2px solid var(--vermelho); 
    border-radius: 10px; 
    margin: 10px auto; /* adiciona margem acima e abaixo do upgrade, mas não dos lados */
    width: 600px; 
    padding: 20px; /* adiciona espaçamento interno de 20px */
    cursor: pointer; 
    transition: 0.2s; 
    font-size: 20px; 
    display: flex; 
    justify-content: space-between; 
}

.upgrade:hover { /* efeito de hover para o upgrade */
    background-color: var(--rosahover); /* muda a cor de fundo do upgrade quando o mouse passa sobre ele */
}
